.Header-bar {
    background-color: #078f5b;
    min-height: 5vh;
    max-height: 8vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
}

.nav-button, .active-nav-button {
    text-decoration: none;
    flex: initial;
    align-content: center;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
}

.active-nav-button {
    background-color: #6ab18a;
}

.nav-button:hover {
    background-color: #379a6a;
}