.Main-page {
    min-height: 90vh;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.main-page-header > * {
    margin: 0.5rem;
}

.dashboards-container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin: 0.5rem;
}

.dashboard-table {
    border-collapse: collapse;
    margin: 0.5rem;
    font-size: calc(16px);
    display: table;
}

.dashboard-thead {
    border-bottom: 0.2rem solid #124f2b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dashboard-table-body > tr {
    border-bottom: 0.1rem solid #124f2b;
}

.dashboard-table-body > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
}
.dashboard-table-body > tr:hover {
    background: lightgray;
}


