.Dashboard {
    flex: 1;
    border-width: 4px;
    border-style: solid;
    border-radius: 1rem;
    border-color: #96c7aa;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.dashboard-header {
    color: white;
    background-color: #078f5b;
    border-radius: 0.8rem;
}